.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 17px;
  text-decoration: none;
  background: #f90;
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container:hover {
  background-color: #F78500;
}

.number {
  margin-left: 10px;
}