.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 38px;
  text-decoration: none;
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .3s ease, color .3s ease;
  box-sizing: border-box;
}

.primary {
  color: #fff;
  border-radius: 24px;
  background: #ff6900;
}

.secondary {
  background-color: #ff6900;
  border-radius: 10px;
}

.primary:hover, .secondary:hover {
  background-color: #F78500;
  color: #fff;
}