.container {
  background: #f6f5f0;
}

.main {
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}

.headerBlock {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footerBlock {
  background-color: #e2e0d8;
}