.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.link {
  text-decoration: none;
  color: #1E1C22;
}

.list {
  display: flex;
  list-style: none;
}

.link {
  padding: 15px 20px;
}

.link:hover {
  background-color: #F6F5F0;
}
