.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 70px;
}

.link {
  display: block;
  text-decoration: none;
  color: #1E1C22;
}

.basket {
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  text-transform: uppercase
}

.link {
  padding: 15px 20px;
}

.link:hover {
  background-color: #F6F5F0;
}

.headerRight {
  display: flex;
}

.phone {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 30px;
}

.menuBlock {
  display: none;
  font-family: 'Barlow Condensed', sans-serif;
  position: relative;
  cursor: pointer;
  width: 30px;
  margin-left: 20px;
  z-index: 10;
}

.menuLine {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(43, 43, 43, 0.5);
}

.menuBlock .menu::before,
.menuBlock .menu::after {
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(43, 43, 43, 0.5);
}

.menuBlock .menu::before,
.menuBlock .menu::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menuBlock .menu::before {
  transform: translateY(-10px);
}

.menuBlock .menu::after {
  transform: translateY(8px);
}

.selectWrapper {
  position: relative;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.languages {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(41,44,51,.2);
  background-color: #fff;
}

.language {
  padding: 5px;
  cursor: pointer;
}

.language:hover {
  color: #cd5757;
}

.selectWrapper:hover .languages {
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .navWrapper {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 0;
    top: 90px;
    height: 100vh;
    width: 0; 
    background-color: rgba(0,0,0,0.6);
  }

  .navWrapperActive {
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .navigation {
    background-color: #fff;
    width: 300px;
    transform: translateX(100%);
    transition: all .4s ease;
  }

  .navigationActive {
    transform: translateX(0%);
  }

  .list {
    flex-direction: column;
    margin-top: 90px;
  }

  .menuBlock {
    display: inline-block;
  }

	.menuActive .menuLine  {
    background-color: transparent;
  }
  
  .menuActive .menu::before {
    transform: rotate(45deg);
  }
  
  .menuActive .menu::after {
    transform: rotate(-45deg);
  }

  .phone {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 50px;
  }

  .phone {
    margin-right: 10px;
    margin-left: 5px;
  }

  .menuBlock {
    margin-left: 15px;
  }
}