.container {
  min-height: 220px;
  /* background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url(../../assets/banner.jpg) center no-repeat; */
    background: 
      linear-gradient(rgba(255, 204, 141, 0.2), rgba(113, 52, 0, 0.2)),
      url(../../assets/banner.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    min-height: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* 769 - 960 px */
@media screen and (max-width: 850px) {
	
}

/* 481 - 768 px */
@media screen and (max-width: 620px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}