.container {
  height: 220px;
  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url(../../assets/banner.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}